@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* For mobile */

@media screen and (min-width: 480px) {}

body {
    background-color: black;
}

input {
    width: 100%;
}

.input {
    text-align: center;
    font-family: Montserrat;
    font-size: 1em;
    margin-top: 0.75em;
    color: red;
    padding: 10px 20px;
}

h1 {
    font-family: Montserrat;
    text-align: center;
    font-size: 4.5em;
    color: red;
}

#submit_button {
    margin-top: 1em;
}

#email_input {
    text-align: center;
    color: grey;
}

#phone_input {
    text-align: center;
    color: grey;
}

#birthdate_input {
    text-align: center;
    color: grey;
}


/* For desktop */

@media screen and (min-width: 992px) {}

input {
    width: 80%
}

.input {
    text-align: center;
    font-family: Montserrat;
    font-size: 1em;
    margin-top: 0.75em;
    color: red;
    padding: 20px 30px;
}